{% block carAdded %}
  <h1>Car Added</h1>

  <p>Car {{carMake}} with number {{carID}} has been added.</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}