{% block carEdited %}
  <h1>Car Edited</h1>

  <p>Car with the make {{carMake}} has been changed, oh snap! </p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}