{% block carRemoved %}
  <h1>Car Removed</h1>  
    <p>car {{carMake}} with IDnumber: {{carID}} has been removed.</p>    
  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}
