{% block checkIn %}
<h1>Check In</h1>

<table border style="width:25%">
  <form method="post" action="/checkedIn">    

    <tr>
      <td>Car: </td>
      <td>
      <select name="cars">
        {% for car in cars %}
          <option value="Cars">{{car.Make}} {{car.Colour}}</option>
        {% endfor %}
      </select>
      </td>
    </tr>
    
    <p>    
  </form>
</table>

<form method="post" action="/checkedIn">
  <input type="submit" style="width:25%" value="Check Out">
</form>
<form method="post" action="/">
  <input type="submit" style="width:25%" value="Main Menu">
</form>

{% endblock %}