{% block customerAdded %}
  <h1>Customer Added</h1>

  <p>Customer {{customerName}} has been added.</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}