{% block customerEdited %}
  <h1>Customer Edited</h1>

  <p>The info for the customer with ID {{customerID}}
     has been changed.</p>

  <form method="post" action="/">
    <input type="submit" value="Ok">
  </form>
{% endblock %}