
<table border="1"> 

<h1>Car Rental</h1>
<p>

<tr>

<td>
<form method="post" action="/ShowCustomers">
  <input type="submit" value="Customers">
</form>
</td>

<td>
<form method="post" action="/ShowCars">
  <input type="submit" value="Cars">
</form>
</td>

<td>
<form method="post" action="/CheckOut">
  <input type="submit" value="Check Out Car">
</form>
</td>

<td>
<form method="post" action="/CheckIn">
  <input type="submit" value="Check In Car">
</form>
</td>

<td>
<form method="post" action="/ShowHistory">
  <input type="submit" value="History">
</form>
</td>



</tr>
</table>